<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
	<%- include('partials/nav.ejs') %>
	<h1>Earth!</h1>


         <div>
  <img src ="<%= earthpic%>"  >
             <br>
  <i> <%=edescription%> </i>  
    </div>

        <%- include('partials/footer.ejs') %>
</body>
</html>